.footer {
    background-color: $bgc-footer;
    padding-top: 60px;
    padding-bottom: 60px;
    &__blocks {
    @include tablet {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: baseline;
    }
    @include desktop {
        text-align: center;
        justify-content: normal;}
    }
    }

.footer-address {

    text-align: center;
    @include tablet {
        flex-direction: column;
        text-align: center;
        margin-bottom: 60px;}
    @include desktop {
        margin-bottom: 0;}
}
    
.social {
    margin-bottom: 60px;
    @include mobile {
        text-align: center;}
    @include tablet {
        margin-left: 165px;
    }
    @include desktop {
        margin-left: 70px;
        padding-top: 12px;
        margin-bottom: 0;}
    &__title {
        padding: 0;
        margin-top: 0;
        margin-bottom: 20px;
        @include font(null, 700, 1.14, 0.03em);
        text-transform: uppercase;
        color: $color-white;}
        @include tablet {
            text-align: center;
        }
        @include desktop {
            text-align: start;
            align-items: flex-start;}
}

.subscribe {
    text-align: center;
    @include tablet {
        display: flex;
        flex-direction: column;}
    @include desktop {
        text-align: start;
        margin-left: 93px;
        padding-top: 12px;}

    &__title {
        padding: 0;
        margin-top: 0;
        margin-bottom: 20px;
        @include font(null, 700, 1.14, 0.03em);
        text-transform: uppercase;
        color: $color-white;}
        @include tablet {
            text-align: center;
        }
        @include desktop {
            display: flex;
            text-align: start;
        }
    }

.subscription_thumb {
    @include desktop {
        display: flex;
    }
}
.subscription {
    &__thumb {
        @include desktop {
            display: flex;
            text-align: start;
        }
    }
    @include desktop {
        display: flex;
    }

    &__label {
        text-align: center;
        width: 100%;
        @include desktop {
            width: 0;
        }
    }
    &__label--text {
        position: absolute;
        padding-top: 15px;
        padding-left: 16px;
        @include font(16px, 400, 1.25, 0.03em);
        color: $color-footer-contact;}
    &__input {
        width: 100%;
        margin-bottom: 20px;
        padding: 15px 16px;
        @include tablet {
            width: 450px;
        }
        @include desktop {
            display: flex;
            width: 358px;
            margin-right: 12px;
        }
        height: 50px;
        outline: none;
        border: 1px solid rgba(255, 255, 255, 0.3);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        border-radius: 4px;
        background-color: transparent;
        color: $color-footer-contact;
        font-style: 16px;
        transition: border-color 250ms $timing-function;
        &:hover,
        &:focus-within {
            border-color: $color-accent;}}
    &__button {
        display: flex;
        margin: 0 auto;
        justify-content: center;
        padding: 10px ;
        @include tablet {
            max-width: 200px;
        }
    }
        @include desktop {
            max-height: 50px;
        }
    &__icon {
        display: flex;
        content: '';
        margin-left: 10px;}
}
.footer-container {
    @include desktop {
        display: flex;
        flex-wrap: nowrap;
        align-items: baseline;
        justify-content: center;
    }
}