.menu-button {
    display: block;
    margin-left: auto;
    border: none;
    background-color: transparent;
    fill: $color-black;
    &:hover,
    &:focus {
        fill: $color-accent;
    }
    
    @include tablet {
        display: none;
    }
    
}

.mobile-menu {
    @include tablet {display: none;}
}
.mobile-menu-set {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9;
    background-color: $bgc-body;
    width: 100vw;
    height: 796px;
    padding-top: 48px;
    padding-bottom: 48px;
    opacity: 0;
    pointer-events: none;
    transform: translateY(-100%);
    transition: opacity 250ms $timing-function, visibility 250ms $timing-function, transform 250ms $timing-function;
    & .menu-button {
        position: absolute;
    }
    &.is-open {
        display: block;
        opacity: 1;
        visibility: visible;
        pointer-events: initial;
        transform: translateY(0);
        }
    & .container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        overflow-y: auto;
        }
    @include tablet {display: none;}
    }

.mobile-menu__item:not(:last-child) {
    margin-bottom: 32px;
}

.mobile-menu__link {
    padding-left: 40px;
    @include font(40px, 500, 1.18, 0.02em);
    color: $color-secondary;
    text-decoration: none;
    &:hover,
    &:focus {
        color: $color-accent;};
    &--current {
        color: $color-accent;};
}

.mobile-network {
    display: flex;
    justify-content: center;
    &__item:not(:last-child) {
        border-right: 1px solid rgba(33, 33, 33, 0.2);}
    &__link {
        padding-left: 10px;
        padding-right: 10px;
        color: $color-accent;
        text-decoration: none;
        transform: rotate(90deg);}
    @include tablet {display: none;}
}