.title {
    margin-bottom: 30px;
    margin-top: 0;
    @include font(28px, 700, 1.18, 0.03em);
    color: $color-secondary;
    text-align: center;
    @include desktop {
        margin-bottom: 50px;
        padding-top: 0;
        @include font(36px, 700, 1.17, 0.03em);
    }
}